# Xcode
build/
!/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Mac
.DS_Store
#ignore thumbnails created by windows
Thumbs.db
#Ignore Podfile.lock
Podfile.lock

# Mac OS X and Xcode stuff
*.swp
*~.nib
/.metadata/

# Node
node_modules/

# Build
/cmake-build
/build.log
/dist/
/junit-result.xml
/build-stats.csv

# CLion
.idea
