<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>W7TGC3P93K</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.nativescript.TestRunner</key>
		<string>NativeScriptDevProfile</string>
	</dict>
</dict>
</plist>